.new{
    margin-top:1%;
    margin-left: 50%;
    text-decoration:solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}
#contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#head{
    margin-top:1%;
}
button{
    margin-left: 1%;
    background-color: white;
    border:1px solid white;
}
button:hover{
    color:blue;

}
h1:hover{
    opacity:0.5;
}
@media (max-width:480px){
    .new{
        margin-top:1%;
        margin-left: 50%;
        text-decoration:solid;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        list-style: none;
    }
    #contact{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 10px;
        
    }
    #head{
        margin-top:1%;
    }
    button{
        margin-left: 1%;
        background-color: white;
        border:1px solid white;
    }
    button:hover{
        color:blue;
    }
     h1:hover{
        opacity:0.5;
    }
    .box1{
        margin-top: 10px;
    }
    #Interests{
        margin-left:135px;
    }
    #InterestsB{
        margin-left:105px;
    }
    #Cinfo{

      margin-left:115px;
    }
    #Oskills{
        margin-left:115px;


    }
    #first{

     margin-left:10px;
    }
    

}
    

 

