h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation:fade-in 5s forwards;
    opacity:0;

}
h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation:fade-in 5s forwards;
    opacity:0;
}
h1{
    font-family: monospace;
    
}
img{
    height:300px;
    margin-left: 130%;
    margin-top:20%;
    border-radius: 20px;
    animation:fade-in 5s forwards;
    opacity:0;
}
@keyframes fade-in{
    0%{opacity:0;}
    50%{opacity:0.8;}
    100%{opacity:1};

}
